[Unit]
Description=Hyperspace Server
Documentation=https://github.com/hyperspace-org/hyperspace
After=network.target

[Service]
ExecStart=/usr/bin/bash -c '$$(npm config get prefix)/bin/hyperspace'

[Install]
WantedBy=multi-user.target
